<script>
  window.post = function(url, data) {
    if (url == "/users/friend") {
      return fetch((url), 
      {method: "POST", headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(data)}).then(document.getElementById(data.requestee).innerHTML="Request Sent!");
    }else {
      return fetch((url), 
      {method: "POST", headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(data)}).then(document.getElementById(data.requestee).innerHTML="UnFriend");
    };
  }
</script>
<div class="container">
<h1>Users</h1>
<ul class="users">
  {{#each users}}
  <p>
  <div>
    <li> Name: {{ this.name }} </li> 
        <button id='{{this._id}}' onclick='post( "{{ this.url }}", {requestee: "{{ this._id }}" })'>{{ this.requested }}</button>
  </div>
  </p>
  {{/each}}
</ul>
</div>
